@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.header {
  background-color: v.$neutral-0;
  display: flex;
  isolation: isolate;
  justify-content: space-between;
  padding: v.$sp-350 v.$sp-300;
  position: relative;
  z-index: 1;
}

.header__button {
  background: none;
  border: none;
}

.dropdown {
  background-color: v.$neutral-0;
  left: 0;
  padding: v.$sp-400;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(-100%);
  transition: all 350ms ease-out;
  top: 4.5rem;
  @include t.preset5b;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.dropdownOpen {
  transform: translateY(0);
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: v.$sp-250;
  list-style: none;
  padding: 0;

  li:last-child {
    background-color: v.$neutral-950;
    color: v.$neutral-0;
    padding: v.$sp-150;
  }
}
