/* Neutral Colours */

$neutral-0: var(--neutral-0);
$neutral-100: var(--neutral-100);
$neutral-200: var(--neutral-200);
$neutral-300: var(--neutral-300);
$neutral-950: var(--neutral-950);

/* Gradients */

$g-1: var(--gradient-1);
$g-2: var(--gradient-2);
$g-3: var(--gradient-3);
$g-4: var(--gradient-4);
$g-5: var(--gradient-5);
$g-6: var(--gradient-6);
$g-7: var(--gradient-7);

/* Spacing */

$sp-0: var(--spacing-0);
$sp-050: var(--spacing-050);
$sp-100: var(--spacing-100);
$sp-150: var(--spacing-150);
$sp-200: var(--spacing-200);
$sp-250: var(--spacing-250);
$sp-300: var(--spacing-300);
$sp-375: var(--spacing-375);
$sp-400: var(--spacing-400);
$sp-500: var(--spacing-500);
$sp-600: var(--spacing-600);
$sp-700: var(--spacing-700);
$sp-800: var(--spacing-800);
$sp-1000: var(--spacing-1000);
$sp-1400: var(--spacing-1400);

/* Border Radius */

$r-0: var(--r-0);
$r-full: var(--r-full);

/* Font Size */

$font-xs: var(--font-xs);
$font-sm: var(--font-sm);
$font-base: var(--font-base);
$font-large: var(--font-large);
$font-xl: var(--font-xl);
$font-2xl: var(--font-2xl);
$font-3xl: var(--font-3xl);

$font-bold: var(--bold);
$font-reg: var(--regular);

/* Line Height */

$lh-105: var(--lh-105);
$lh-120: var(--lh-120);
$lh-125: var(--lh-125);
$lh-130: var(--lh-130);
$lh-135: var(--lh-135);
$lh-140: var(--lh-140);
$lh-165: var(--lh-165);

/* Letter Spacing */

$ls-02: var(--ls-02);
$ls-025: var(--ls-025);
$ls-035: var(--ls-035);
$ls-04: var(--ls-04);
