@use "../../../styles/sass/variables" as v;
@use "../../../styles/sass/breakpoints" as mq;
@use "../../../styles/sass/typography" as t;

.plans {
  margin: clamp(v.$sp-800, 1.1374rem + 12.2137vw, v.$sp-1400)
    clamp(v.$sp-400, 1.5229rem + 2.0356vw, v.$sp-500);
}

.plans__toggle {
  align-items: center;
  color: rgb(from v.$neutral-950 r g b / 0.5);
  display: flex;
  gap: v.$sp-400;
  justify-content: center;
  text-transform: capitalize;
  @include t.preset4;
}

.toggle__textActive {
  color: v.$neutral-950;
}

.pricing__plans {
  display: grid;
  gap: v.$sp-300;
  margin-block: v.$sp-500;

  @include mq.lg {
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    overflow: hidden;
  }
}
