@use "../../styles/sass/variables" as v;
@use "../../styles/sass/typography" as t;
@use "../../styles/sass/breakpoints" as mq;

.article {
  background-color: v.$neutral-0;
  @include mq.sm {
    display: grid;
  }
}

.hero {
  background-color: v.$neutral-950;
}

.article__imageRight {
  grid-template-areas: "content img";
  grid-template-columns: 7fr 3fr;

  @include mq.lg {
    grid-template-columns: 6fr 4fr;
  }
}
.article__imageLeft {
  grid-template-columns: 3fr 7fr;
  grid-template-areas: "img content";
  @include mq.lg {
    grid-template-columns: 4fr 6fr;
  }
}

.article__imageBackground {
  grid-template-columns: calc(402px + calc(2 * v.$sp-700)) auto;
  grid-template-areas: "content .";
  @include mq.lg {
    grid-template-columns: calc(402px + calc(2 * v.$sp-1400)) auto;
  }
}

.article__img {
  grid-area: img;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.img__sm {
  @include mq.sm {
    display: none;
  }
}

.img__md {
  display: none;
  @include mq.sm {
    display: block;
  }
  @include mq.lg {
    display: none;
  }
}

.img__lg {
  display: none;
  @include mq.lg {
    display: block;
  }
}

.img__background {
  @include mq.sm {
    position: absolute;
  }
}

.article__content {
  grid-area: content;
  padding: v.$sp-900 v.$sp-375;
  @include mq.sm {
    align-self: center;
    padding: v.$sp-900 v.$sp-700;
  }
  @include mq.lg {
    padding-inline: v.$sp-1400;
  }

  h2 {
    color: v.$neutral-950;
    text-transform: uppercase;
    @include t.heading;
    @include mq.sm {
      line-height: v.$lh-120;
    }
  }

  p {
    color: rgb(from v.$neutral-950 r g b / 0.6);
    margin-block: v.$sp-200 v.$sp-300;
    text-wrap: balance;
    @include t.preset5r;
  }

  button {
    align-items: center;
    background: none;
    border: none;
    color: v.$neutral-950;
    display: flex;
    gap: v.$sp-200;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.hero__content {
  position: relative;

  h2 {
    color: v.$neutral-0;
  }
  p {
    color: rgb(from v.$neutral-0 r g b / 0.6);
  }
  button {
    color: v.$neutral-0;
  }
  &::before {
    content: "";
    background: v.$g-6;
    inset-inline: v.$sp-375 60%;
    height: 6px;
    top: 0;
    position: absolute;
    z-index: 0;

    @include mq.sm {
      inset-inline: unset;
      inset-block: 0;
      height: unset;
      left: 0;
      width: 6px;
    }
  }
}

.hero__removeColor::before {
  @include mq.sm {
    display: none;
  }
}
