@use "../../../styles/sass/variables" as v;
@use "../../../styles/sass/typography" as t;
@use "../../../styles/sass/breakpoints" as mq;

.features {
  align-items: end;
  display: grid;
  gap: v.$sp-700;
  @include mq.sm {
    row-gap: v.$sp-1000;
  }
  @include mq.lg {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.card {
  align-items: center;
  display: grid;
  grid-template-rows: 72px max-content auto;
  gap: v.$sp-200;
  justify-items: center;
  text-align: center;
  height: 100%;
}

.card__title {
  @include t.preset4;
}

.card__description {
  @include t.preset5r;
}

.col2 {
  @include mq.md {
    grid-template-columns: 1fr 1fr;
  }
  @include mq.lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
